---
layout: default
title: "Home"
---
<div class="container p-2">
  <h1>We love videogames.</h1>
  <p>We love them so much that we've decided to make our own.</p>
  <p>Let this be a love letter to the culture that shaped us.</p>
  <div class="container-sm">
	  {% for post in site.posts%}
	    {% if post.category == "posts" %}
	      <div class="container border m-2">
	        <h3>{{ post.title }}</h3>
		<h5>{{ post.author }} - {{ post.date | date:"%-m-%d-%Y" }}</h5>
		{{ post.content | markdownify }}
	      </div>
	    {% endif %}
	  {% endfor %}
  </div>
</div>
