<div class="d-flex flex-column flex-sm-row justify-content-between py-4 my-4 border-top">
      <p>&copy; 2023 Ghostbyte Games</p>
      <ul class="list-unstyled d-flex">
	      <li class="ms-3"><a class="link-body-emphasis" href="https://twitter.com/GhostbyteGames_"><i class="bi bi-twitter text-dark"></i></a></li>
	      <li class="ms-3"><a class="link-body-emphasis" href="https://discord.gg/6KYPYqpUCX"><i class="bi bi-discord text-dark"></i></a></li>
	      <li class="ms-3"><a class="link-body-emphasis" href="https://github.com/ghostbytegames"><i class="bi bi-github text-dark"></i></a></li>
      </ul>
    </div>
